<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://wallpapers.com/images/featured/angular-85vhooptaw06gumk.jpg"
    alt=""
    height="240px"
    srcset=""
    >
  </div>
  <div class="big-card__date">
    <p>January 13, 2023</p>
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est dolorem facilis aut laudantium aperiam voluptate deleniti minima amet sapiente veritatis.
      </a>
    </p>
  </div>
</div>
