.container__small-card{
  /* border: solid white 2px; */
  width: 700px;
  height: min-content;
  margin: 0 20px 10px 20px;
  padding: 15px 4%;


  align-items: flex-start;
  justify-content: flex-start;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__content{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.small-card__title > h1{
  margin-top: 15px;
  font-size: 20px;
}

.small-card__date > p{
  color: grey;
  font-size: 10px;
}

.small-card__photo > img{
  width: 200px;
  min-width: 200px;
}

.container__small-card__separator{
  margin-top: 10px;
}
