<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
      src="https://rare-gallery.com/thumbs/920628-macro-depth-of-field-programming-language-code-pixels.jpg"
      alt=""
      srcset=""
      >
    </div>
    <div class="small-card__content">
      <div class="small-card__date">
        <p>January 15, 2023</p>
      </div>
      <div class="small-card__title">
        <h1><a href="#">Aprenda a programar do zero</a></h1>
      </div>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>
